$color-text-base: #fff;
$color-main: #08ccca;
// footer desc 및 버튼 텍스트
$color-text-footer: #e4e4e4;
// footer 링크 텍스트
$color-link-footer: #c8c8c8;

$color-bg-main: #f7f7fa;
$color-bg-footer: hsla(0,0%,7%,.93);


// margin 및 padding
$header-height: 80px

// container